backcall
cycler
decorator
GPy
GPyOpt
ipython
ipython-genutils
jedi
kiwisolver
matplotlib
numpy
paramz
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
scipy
simplegeneric
six
traitlets
wcwidth
